services:
  ngrinder-controller:
    image: ngrinder/controller:latest
    container_name: ngrinder-controller    
    restart: always
    hostname: ngrinder-controller
    sysctls:
      - net.core.somaxconn=65000
    volumes:
      - /usr/share/zoneinfo/Asia/Seoul:/etc/localtime:ro
      - ./controller-date:/opt/ngrinder-controller
    ports:
      - 8888:80
      - 16001:16001
      - 12000-12009:12000-12009
    networks:
      - ngrinder-network

  ngrinder-agent1:
    image: ngrinder/agent:latest
    container_name: ngrinder-agent1    
    restart: always
    hostname: ngrinder-agent1
    sysctls:
      - net.core.somaxconn=65000
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nproc:
        soft: 1024000
        hard: 1024000
      nofile:
        soft: 1024000
        hard: 1024000
    environment:
      - NGRINDER_CONTROLLER_HOST=ngrinder-controller:8888
    depends_on:
      - ngrinder-controller
    volumes:
      - /usr/share/zoneinfo/Asia/Seoul:/etc/localtime:ro
    networks:
      - ngrinder-network

networks:
  ngrinder-network:
    driver: bridge
